 /* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    background-color: #E8D3C8;
} 

body h1 {
    color: #713C30 ;
    font-family: cursive;
} 

body h2 {
    color:whitesmoke ;
    font-family: 'Meno Banner Light';
}

body h4 {
    color:whitesmoke ;
    font-family: 'Meno Banner Light';
}

header {
    font-family: monospace;
    

}

p {
    color: black;
    font-family: monospace;
}
header nav a{
    
    font-family: cursive;
    font-size: 20px;
    color: #713C30 ;

}

#AboutMe h4 {
    color:whitesmoke ;

}


/* 
header {
    font-family: monospace;
    background-color: #c4a590;

    
    
}

header {
    font-family: monospace;
    background-color: #c4a590;

    
    
}


p {
    color: black;
}
header nav a{
    padding-top: 1px;
    margin-right: 20px;
    float: left;
    font-family: cursive;
    font-size: 20px;
    color: #713C30 ;

}


header nav ul li  {
    list-style-type: none;
    
    
    
    
} */



/* Include padding and border in total box size*/
/* * {
    box-sizing: border-box;
} */

/* Create two equal columns that float next to each other */
/* .column-1 {
    float: left;
    width: 100%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: #E8D3C8;
    line-height:2;
    font-family: monospace;
}


.column-2 {
    float: left;
    width: 100%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color:#E8D3C8;
    line-height:2;
    font-family: monospace;
    justify-content: space-evenly;
} */
/*or whatever you choose*/
/* .imgwrap {

    width: 50%; 
    margin: auto ;
} */
/* .column-2 {
    width: 100%;
    height: 800px;
    border-radius: 20px;
    box-shadow: 2px 2px 12 px;
    display: flex;
    margin: -7% auto 20px auto;
} */

/* .column {
    float:left;
    width: 33.33%
} */

/* .hire-btn {
    width: 130px;
    height: 42px;
    font-family: monospace;
    font-weight: normal;
    font-size: 14px;
    color: whitesmoke;
    background-color: #713C30;
    border: 2px;
}
button:active{
    transform:scale(1.5) ;
}
.box-1, .box-2, .box-3 {
    width:300px;
    height:320px;
    background-repeat:no-repeat ;
    background-size: cover;
    box-shadow: 2px 2px 12px ;

}  */

.footer ul li {
    color: #713C30 ;
    font-family: cursive;
}

.img-size {
    border:2px solid black ;
    width: 100px;
    height: 100px;
}

.img-size-large{
    border:2px solid black ;
    width: 500px;
    height: 500px;
}

.section{
    margin: 25px 0;
    padding: 10px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}

.section > h1 {
    text-align: right;
    display: flex;
    border-right: 3px solid black;
    line-height: 1;
    padding-right: 12px;
    flex: 0 0 20%
}

.link{
    text-decoration: none;
}
p{
    margin:0
}

.main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.logo {
    float: left;
    width: 33.33%;
    padding: 52px;
    height: 100px;
    width: 100px;
}

footer p {
    color: black ;
    font-family: meno Banner;
    text-align: center;
}